@use "cesium/Build/Cesium/Widgets/widgets.css";

html {
    padding: 2%;
    box-sizing: border-box;
    font-family: system-ui;
    line-height: 1.5;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.begins {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.date {
    color: hsl(359deg 90% 44%);
}

#cesiumContainer {
    height: 0;
    width: 100%;
    // Golden ratio baybee
    padding-bottom: 61.803398875%;
    max-height: 800px * 0.61803398875;
    position: relative;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;

    .cesium-viewer {
        position: absolute;
    }

    .cesium-infoBox-camera {
        display: none;
    }
}
